<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true"/>
  <arg name="rviz" default="true"/>
 
 
 
  <param name="robot_description" command="$(find xacro)/xacro '$(find gateway_description)/urdf/gateway.urdf.xacro'"/>

  <node name="joint_state_publisher_gui" 
        pkg="joint_state_publisher_gui" 
        type="joint_state_publisher_gui" 
        respawn="false" output="screen">
      <remap from="robot_description" to="robot_description"/>
      <!--<rosparam param="source_list">["gateway_robot/joint_state_controller/joint_command"]</rosparam>
      <rosparam param="rate">100</rosparam>
      <remap from="joint_states" to="joint_states"/>
      <param name="zeros/big_arm_joint_2" value="3.1415"/>
      <param name="zeros/big_arm_joint_3" value="3.1415"/>
      <param name="zeros/big_arm_joint_4" value="3.1415"/>-->
  </node>

  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        respawn="false" 
        output="screen"/> <!-- tf_prefix: gateway -->
   


  <!-- Rviz -->
  <node name="rviz" 
        pkg="rviz" 
        type="rviz" 
        args="-d $(find gateway_description)/rviz/view_robot.rviz"
        respawn="false" 
        output="screen" 
        if="$(arg rviz)"/>

</launch>
