<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true"/>
  <arg name="rviz" default="true"/>

  <group ns="gateway_body">

    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find gateway_description)/robots/gateway_body.urdf.xacro'"/>

    <node name="robot_state_publisher" 
          pkg="robot_state_publisher" 
          type="robot_state_publisher" 
          respawn="false" 
          output="screen"/>
  </group>
  
  <!-- Big Arm -->
  <group ns="big_arm">

    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find gateway_description)/robots/big_arm.urdf.xacro'"/>

    <node name="robot_state_publisher" 
          pkg="robot_state_publisher" 
          type="robot_state_publisher" 
          respawn="false" 
          output="screen"/>

    <node name="joint_state_publisher_gui" 
        pkg="joint_state_publisher_gui" 
        type="joint_state_publisher_gui" 
        respawn="false" output="screen">
      <!--<remap from="robot_description" to="robot_description"/>-->
    </node>

  </group>  

  <!-- Little Arm -->  
  <group ns="little_arm">

    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find gateway_description)/robots/little_arm.urdf.xacro'"/>

    <node name="robot_state_publisher" 
          pkg="robot_state_publisher" 
          type="robot_state_publisher" 
          respawn="false" 
          output="screen"/>

    <node name="joint_state_publisher_gui" 
        pkg="joint_state_publisher_gui" 
        type="joint_state_publisher_gui" 
        respawn="false" output="screen">
      <!--<remap from="robot_description" to="robot_description"/>-->
    </node>

  </group>  

  <!-- Rviz -->
  <node name="rviz" 
        pkg="rviz" 
        type="rviz" 
        args="-d $(find gateway_description)/rviz/view_gateway_assembled.rviz"
        respawn="false" 
        output="screen" 
        if="$(arg rviz)"/>

</launch>
