<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="little_arm">

  <xacro:include filename="$(find gateway_description)/xacro/little_arm_macro.xacro"/>

  <!-- <link name="gateway_body/root"/> -->

  <xacro:little_arm> <!--  parent="gateway_body/root"-->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.4363 -1.396"/>
  </xacro:little_arm>

  <link name="little_arm_link_tcp"/>

  <joint name="little_arm_tcp" type="fixed">
    <parent link="little_arm_link_8"/>
    <child link="little_arm_link_tcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
