<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="big_arm">

  <xacro:arg name="parent_link" default="root" />
  
  <xacro:include filename="$(find gateway_description)/xacro/big_arm_macro.xacro"/>

  <!-- Gazebo - ROS2 Control macro -->
  <xacro:include filename="$(find gateway_description)/xacro/big_arm.gazebo.xacro" />
  <xacro:gateway_big_arm_gazebo command_interface="position" />

  <link name="$(arg parent_link)"/>
  
  <xacro:big_arm parent="$(arg parent_link)">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.4363 -1.396"/>
  </xacro:big_arm>

  <link name="big_arm_link_tcp"/>

  <joint name="big_arm_tcp_joint" type="fixed">
    <parent link="big_arm_link_8"/>
    <child link="big_arm_link_tcp"/>
    <origin xyz="0 0 -0.50" rpy="0 1.5708 1.5708"/>
  </joint>
  
    <gazebo reference="big_arm_link_tcp">
      <sensor type="camera" name="camera_sensor">
          <visualize>1</visualize>
          <update_rate>10.0</update_rate>
          <camera>
              <pose>1.0 0 0 0 0 -1.57</pose>
              <horizontal_fov>1.3962634</horizontal_fov>
              <image>
                  <width>800</width>
                  <height>800</height>
                  <format>R8G8B8</format>
              </image>
              <clip>
              <near>0.01</near>
              <far>100</far>
              </clip>
              <noise>
              <type>gaussian</type>
              <stddev>0.007</stddev>
              </noise>
          </camera>
          <always_on>1</always_on>
          <topic>image_raw</topic>
      </sensor>
  </gazebo>

</robot>
